body{
    background-color: #EEE0C9;
    margin: 0;
    padding: 0;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu{
    text-align: left;
    padding-left: 30px;
    gap: 30px;
}
/* 
.search-box {
    top: 20%;
    left: 50%;
    background: #4c5270;
    transform: translate(-50%, -50%);
    height: 30px;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 30px;
    position: absolute;
}
 
 
.search-btn {
    color: #ffffff;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #189ab4;
    justify-content: center;
    align-items: center;
    display: flex;
}
 
 
.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    width: 0px;
    line-height: 40px;
    transition: 0.5s;
}
 
.search-box:hover > .search-input{
    width: 240px;
    padding: 0 10px;
    margin-right: 5px !important;
    background: white;
    border-radius: 5px;
    color: black;
}
 
.search-box:hover > .search-btn {
    background: #E9dac4;
    color: #189ab4;
} */

h1{
    text-align: center;
}

header{
    text-align: left;
    padding: 20px;
    justify-content: space-between;
    padding-right: 20px;
}

ul{
    margin-left: 10px;
}

a{
    text-align: left;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    padding-right: 8px;
}

.spanstyle1{
    color: #EEE0C9;
}
.content{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.gallery{
    margin-left: 6px;
    margin-right: 20px;
}
.gallery a img{
    margin: 4px;
    width: 263px;
    height: 160px;
}
  
.gallery:hover{
    background-color: #B5B4A2;
}
  
.gallery img{
    width: 100%;
    height: auto;
}
  
.desc{
    padding: 5px;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-areas:
      'header header'
      'menu menu'
      'main nav'
      'footer footer';
      grid-template-columns: 0.4fr 0.8fr;
      grid-template-rows: 0.1fr 0.3fr 0.8fr 0.2fr;
      /* grid-template-rows: 0.1fr 0.3fr 0.8fr; */
    /* gap: 20px; */
    padding: 5px;
    border: 3px rgb(232, 219, 199);
}
  
.grid-container > div{
   padding: 10px 0;
   background-color: #758467;
}
.item1{
    grid-area: header;
    text-align: center;
    border-radius: 10px 10px;
    margin-bottom: 10px;
}
.item2{
    grid-area: menu;
    text-decoration-color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px 10px;
}
.item3{
    grid-area: main;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item4{
    grid-area: main nav;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px; 
    overflow: scroll;
    border-radius: 0px 10px 10px 0px;
}
.item5{
   grid-area: footer;
   border-radius: 10px 10px;
   margin-bottom: 10px;
   margin-top: 10px;

}

.footer1{
    float: inline-start;
    padding-left: 100px;
}

.footer2{
    float: inline-end;
    padding-right: 100px;
    text-align: justify;
    margin-bottom: 80px;
    width: 500px;
    height: 45px;

}
#keterangan1{
    position: absolute;
    margin-top: 5px;
    left: 40px;
}

/* Mengatur border youtube */

iframe{
    border: 10px solid #B5B4A2;
}
